body {
  background-color: lightblue;
}

h1 {
  text-align: center;
  font-family: Tahoma, verdana, san-serif; /*options open in case their system does not have instaled Tahoma*/
  font-size: 40px; /*format to the heading1 (h1)of the document : WELCOME TO MY WEBSITE*/
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-style: italic; /*format to the heading2 (h2) = information of the content in this page : My hobbies*/
}

.container-image {
  text-align: center; /*format and aligned to the centered image*/
}

img {
  display: block;
  margin: 0 auto;
  border: 2px solid darkblue; /*valid color - corrected border*/
}

div {
  padding-left: 20px; /*block indent = sangria de texto*/
}
